# Numbers in python

Discuss the different types of nnumbers in python (Integer,Float,Complex,Numbers) and perform basic arithmatic operations.

In [15]:
# Integer : Whole numbers without decimal
a = 5
b = 29
print("addition :",a+b)
print("multiplication :",a*b)
print("dividation :",a/b)
print("subtraction :",a-b)

addition : 34
multiplication : 145
dividation : 0.1724137931034483
subtraction : -24

In [17]:
# Float : Number with decimal
c = 9.4
d = 5.5
print("addition :",c+d)
print("multiplication :",c*d)
print("dividation :",c/d)
print("subtraction :",c-d)

addition : 14.9
multiplication : 51.7
dividation : 1.7090909090909092
subtraction : 3.9000000000000004

In [16]:
# complex : Number with a real and imaginary part
e = 1+3j
f = 4+5j
print("addition :",e+f)
print("multiplication :",e*f)
print("dividation :",e/f)
print("subtraction :",e-f)

addition : (5+8j)
multiplication : (-11+17j)
dividation : (0.4634146341463415+0.17073170731707324j)
subtraction : (-3-2j)

# Operators in python

Discuss arithmetic, comparision, logical and assignment operators, and perform operation.

In [18]:
x,y = 8, 6
# Arithmatic operators : Used for mathematical operations.
print("addition: ", x+y)
print("subtraction: ", x-y)
print("multiplication: ", x*y)
print("division: ",x/y)

addition:  14
subtraction:  2
multiplication:  48
division:  1.3333333333333333

In [19]:
# Comparison operators : Used for compare two values.
print("Equal to: ", x==y)
print("Not equal to: ",x != y)
print("Greater than: ",x>y)
print("Less than: ",x<y)

Equal to:  False
Not equal to:  True
Greater than:  True
Less than:  False

In [20]:
# Logical operators : Used for logical conditions.
a, b = True, False
print("Logical and: ",a and b)
print("Logical  or: ",a or b)

Logical and:  False
Logical  or:  True

In [21]:
# Assignment operator : Used to assign value to variables.
z = 39
z+= 5 # Add 5 to the current values of z
print("Assignment (+=): ",z)

Assignment (+=):  44

# Lists in python

List is a mutable collection of elements

Discuss and perform varios operations on lists.

In [22]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [23]:
# Accessing elements usinf indexing and slicing
print("First element: ",my_list[0]) # Access first element
print("Slice[1:4]: ",my_list[1:4]) # Access subset of element

First element:  1
Slice[1:4]:  [2, 3, 4]

In [24]:
# Modifying element by index
my_list[0] =10 # Replace the first element with 10
print("modified list: ", my_list)

modified list:  [10, 2, 3, 4, 5]

In [25]:
# Adding element using append() and insert()
my_list.append(6) # Add 6 to the end of the list
my_list.insert(1,7) # Insert 7 at index 1
print("list after addding elements: ",my_list)

list after addding elements:  [10, 7, 2, 3, 4, 5, 6]

In [43]:
# Removing element using remove() and pop()
my_list.remove(4) # Remove the first occurence of 4
popped_element = my_list.pop() # Remove and return the last element
print("List after removing element: ",my_list)
print("Popped element: ",popped_element)

List after removing element:  [10, 3, 2]
Popped element:  7

In [44]:
popped_element1 = my_list.pop()
print("Popped element: ",popped_element1)

Popped element:  2

In [45]:
# Other list methods
my_list.sort() # Sort the list in ascending order.
print("Sorted list: ",my_list)

Sorted list:  [3, 10]

In [46]:
my_list.reverse() # Reverse the order of elements in list.
print("Reversed list: ",my_list)

Reversed list:  [10, 3]

In [47]:
extended_list = [4,7]
my_list.extend(extended_list) # Add all elements of extended_list to my_list
print("Extended list: ",my_list)

Extended list:  [10, 3, 4, 7]

In [48]:
print("count of 10: ",my_list.count(10)) # count occurence of 10
print("index of 10: ",my_list.index(10)) # get index of 10

count of 10:  1
index of 10:  0

In [49]:
copied_list = my_list.copy() # Creat the copy of a list
print("Copied list: ",copied_list)

Copied list:  [10, 3, 4, 7]

# Tuples in python

Tuple is an immutable collection of elements in python.

Perform tuple operations.

In [34]:
my_tuple = (1,2,3,4,5,6,7)
print(my_tuple)

(1, 2, 3, 4, 5, 6, 7)

In [35]:
# Accessing element
print("Second element: ",my_tuple[1]) # Access second element
print("Slice [2:5]: ",my_tuple[2:5]) # Access a portion of a tuple

Second element:  2
Slice [2:5]:  (3, 4, 5)

In [36]:
# Concatention: Combine two tuple
new_tuple = my_tuple + (8,9)
print("concatenated tuple: ",new_tuple)

concatenated tuple:  (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [37]:
# Repetation : Repeat the tuple
repeated_tuple = my_tuple * 2
print("Repeated tuple: ", repeated_tuple)

Repeated tuple:  (1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [38]:
# count and index 
print("Count of 7: ",repeated_tuple.count(7)) # Count occurence of 7
print("Index of 7: ",repeated_tuple.index(7)) # Get the index of 7

Count of 7:  2
Index of 7:  6

# Sets in python

Set is a collection of unique, unordered element in python.

Discuss and perform set operations.

In [39]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [40]:
# Adding and removing elements
my_set.add(6) # Add an element to the set
my_set.remove(5) # Remove an element from the set
print("Set after adding and removing: ",my_set)

Set after adding and removing:  {1, 2, 3, 4, 6}

In [42]:
# Set operations : Union,Intersection and difference
another_set = {5,3,9}
print("Union: ",my_set.union(another_set)) # Combine both sets
print("Intersection: ",my_set.intersection(another_set)) # Elements common to both sets
print("Difference: ",my_set.difference(another_set)) # Element in my_set but not in another_set

Union:  {1, 2, 3, 4, 5, 6, 9}
Intersection:  {3}
Difference:  {1, 2, 4, 6}

# Dictionaries in python

Discuss and perform dictionary operations.

In [50]:
# Dictionaries in pyhton : A collection of key-value pairs
my_dict = {"a":2, "b":6, "c":4}
print(my_dict)

{'a': 2, 'b': 6, 'c': 4}

In [51]:
# Accessing values by key
print("value of key 'a': ",my_dict.get("a")) # Use get() to access values

value of key 'a':  2

In [52]:
# Adding and Removing values
my_dict["d"] = 8 # Add a new key_value pair
removed_value = my_dict.pop("a") # Remove a key and return its value
print("Updated dictionary after adding and removing: ",my_dict)
print("Removed value: ",removed_value)

Updated dictionary after adding and removing:  {'b': 6, 'c': 4, 'd': 8}
Removed value:  2

In [54]:
# Other dictionary methods
print("All keys in the dictionary: ",my_dict.keys()) # Get all keys
print("All values in the dictionary: ",my_dict.values()) # Get all values
print("All items (key-value pair): ",my_dict.items()) # Get all key-value pair

All keys in the dictionary:  dict_keys(['b', 'c', 'd'])
All values in the dictionary:  dict_values([6, 4, 8])
All items (key-value pair):  dict_items([('b', 6), ('c', 4), ('d', 8)])

In [55]:
# Updating the dictionary
my_dict.update({"c":5}) # Add or update key-value pairs
print("Updated dictionary: ",my_dict)

Updated dictionary:  {'b': 6, 'c': 5, 'd': 8}

# Common python error

indentationError : caused by improper indentaion.

In [56]:
if True:
print("IdentationError")

IndentationError: expected an indented block after 'if' statement on line 1 (1747130515.py, line 2)

Fix : use consistent space or tabs for indentations

In [58]:
# Corrected version
if True:
    print("identationError fixed")

identationError fixed

NameError : Occure when a variable used before being defined.

In [59]:
print(undeclared_variable)

NameError: name 'undeclared_variable' is not defined

In [60]:
# Fixed
declared_variable = 10
print(declared_variable)

10

ValueError : Raised when function gets an argument of the right type but inappropriate value.

In [61]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [63]:
# Corrected version
try:
    number = int("123")
    print(number)
except valueError:
    print("valueError encountered")

123

TypeError : Occure when an operation is applied to an inappropriate type.

In [64]:
print("string"+6)

TypeError: can only concatenate str (not "int") to str

In [65]:
# Corrected version
print("string" + str(6))

string6

IndexError : caused by accessing an out-of-range index

In [66]:
my_list = [1,2,3,4]
print(my_list[7])

IndexError: list index out of range

In [67]:
# Currected version
print(my_list[2])

3

KeyError : Raised when accessing non-existent key in dictionary.

In [69]:
my_dict = {"a":"banana","b":"apple"}
print(my_dict["c"])

KeyError: 'c'

In [71]:
# Corrected version
print(my_dict["a"])

banana